<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ke.bou.dark-mode-notify</string>
    <key>KeepAlive</key>
    <true />
    <key>StandardErrorPath</key>
    <string>/tmp/dark-mode-notify-stderr.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/dark-mode-notify-stdout.log</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/andrew/.local/bin/dark-mode-notify</string>
      <string>/Users/andrew/.local/bin/onSwitchDarkMode.sh</string>
    </array>
  </dict>
</plist>
